<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="correo">Correo electrónico</label>
      <input type="email" class="form-control" id="correo" formControlName="correo">
    </div>
    <div class="form-group">
      <label for="contrasena">Contraseña</label>
      <input type="password" class="form-control" id="contrasena" formControlName="contrasena">
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>
  