.cabecera{
    background-color: #79A9D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagen{
    padding-right:3rem;
    
}

img{
    border-radius: 2rem;
}

.datos{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}