<!-- <button type="button" class="btn {{page==1? 'btn-secundary': 'btn-primary'}}" (click)="insertar()">Añadir usuario</button> -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Añadir usuario
</button>
<div class="container">
    @for(user of data; track user.id){
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{user.avatar}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
              <p class="card-text">{{user.email}}</p>
            </div>
            
            <div class="card-body">
              <a (click)="borrar(user.id)" class="card-link">Borrar</a>
              <a (click)="editar(user.id)" class="card-link">Editar</a>
              <a (click)="getDetail(user.id)" class="card-link">Mas detalles</a>
            </div>
          </div>
    }
    
</div>
<div class="container">
<button type="button" class="btn {{page==1? 'btn-secundary': 'btn-primary'}}" (click)="anterior()">Anterior</button>
<button type="button" class="btn {{page==2? 'btn-secundary': 'btn-primary'}}" (click)="posterior()">Posterior</button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del formulario para añadir usuario -->
        <!-- Por ejemplo, podrías incluir campos para nombre, correo electrónico, etc. -->
        <!-- Aquí debes agregar tu formulario -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>